header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f27d42;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

h2 {
  font-weight: lighter;
}

strong {
  font-weight: bold;
}